<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragment::common_header(~{::title})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的相册相册管理后台</title>
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="../static/css/me.css">
    <!-- semantic-ui的css样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>
<!-- 导航 -->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="admin/_fragment::menu(5)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item"> 博客后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui eg1 dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/1011/450/450">
                        cheniubility
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">
                            <!-- 图标1 -->
                            切换
                        </a>
                        <a href="#" class="item">
                            <!-- 图标2 -->
                            注销
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 二级导航 -->
<div class="ui pointing attached menu">
    <div class="ui container">
        <a th:href="@{/admin/tags/input}" class="item">发布</a>
        <a href="#" th:href="@{/admin/tags}" class="active teal item">列表</a>
    </div>
</div>
<!--操作消息提示-->
<!--th:unless=""${#strings.isEmpty(session.tag1)}-->
<div  >
    <!--th:classappend="" ${yes}!=null ?'positive':'negative'-->
    <!--${yes} th:text=""-->
    <div class="ui mini message"  ></div>
</div>
<!--    <div th:text="${session.tag1}"></div>
    <div th:text="${yes}"></div>
    <div th:text="${no}"></div>-->
<!-- 中间内容 -->
<div class="m-container m-padded-tb-large">

    <!--<div class="ui container" th:if="${page==null}">
        <h1>没有图片，请上传~~</h1>
    </div>-->
    <!--th:if="${page!=null}"-->
    <div class="ui container" >

        <table class="ui celled table">
            <thead>
            <tr>
                <th>编号</th>
                <th>图片</th>
                <th>图片描述</th>
                <th>操作</th>
            </tr>
            </thead>
            <!--拿到page的Content的索引iterStat-->
            <!--<p th:text="${}"></p>-->

            <!--th:each="" tag,iterStat:${page.content}-->
            <tbody th:each="photo,iterStat:${page.content}" >

            <tr th:if="${photo.isDel==0}">

                <td th:text="${iterStat.count}" >1</td>
                <td >
                    <img th:src="${photo.imgBase64}" alt="" style="height: 100px;width: 100px">

                </td>
                <!--图片描述-->
                <td th:if="${photo.title!=null}">
                    <span th:text="${photo.title}"></span>
                </td>

                <td th:if="${photo.title==null}">
                    <span>_</span>
                </td>
                <td>
                    <!--restful风格-->
                    <!--th:href="" @{/admin/album/{id}/input(id=${tag.id})}-->
                    <a href="#"  class="ui basic mini teal button">编辑</a>

                    <!--th:href="" @{/admin/album/{id}/delete(id=${tag.id})}-->
                    <!--delPhoto/{photoId}-->
                    <a th:href="@{delPhoto/{photoId}/(photoId=${photo.id})}"  class="ui basic mini red button">删除</a>
                </td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <!-- 分页 -->
                    <!--在首页既不显示上一页，也不显示下一页 -->
                    <div class="ui left floated mini pagination menu" th:if="${page.totalPages}>1">
                        <!-- <a class="icon item">
                          <i class="left chevron icon"></i>
                        </a> -->
                        <a class="item" th:href="@{/admin/album/photoAlbumIndex(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                        <a class="mini item" th:href="@{/admin/album/photoAlbumIndex(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                        <!-- <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item"> -->
                        <!-- <i class="right chevron icon"></i> -->
                        </a>
                    </div>
                    <a th:href="@{/admin/album/add.html}" class="ui right floated basic mini blue button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- 底部的footer -->
<footer class="ui inverted vertical segment m-padded-tb-massive" th:replace="admin/_fragment::footer">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid stackable">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat_QRcode.jpg" class="ui rounded image" alt="" style="width: 110px;">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(UserStory)</a>
                    <a href="#" class="item">用户故事(UserStory)</a>
                    <a href="#" class="item">用户故事(UserStory)</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:p1690533359@163.com</a>
                    <a href="#" class="item">QQ:1690533359</a>
                    <!-- <a href="#" class="item">用户故事(UserStory)</a> -->
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="inverted header m-opacity-mini">Blog简介</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的最新博客，我会在上面写一些自己的所见所闻所想，会将自己的学习心得和资料分享给大家!!</p>
            </div>

        </div>
        <!-- 底部的分割线 -->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2021 Design by Chenlong. All rights reserved.</p>
    </div>
</footer>


<!-- cdn引入jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--cdn引入semantic-ui的 此js依赖于jquery -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.eg1.dropdown').dropdown({
        action: 'hide',
        on:'hover'
    });
    $('.selection.dropdown').dropdown();
</script>
</body>
</html>